@page
@{
    ViewData["Title"] = "Catalog";
    @model IndexModel
}
<section class="esh-catalog-hero">
    <div class="container">
        <img class="esh-catalog-title" src="~/images/main_banner_text.png" />
    </div>
</section>
<section class="esh-catalog-filters">
    <div class="container">
        <form method="get">
            <label class="esh-catalog-label" data-title="brand">
                <select asp-for="@Model.CatalogModel.BrandFilterApplied" asp-items="@Model.CatalogModel.Brands" class="esh-catalog-filter"></select>
            </label>
            <label class="esh-catalog-label" data-title="type">
                <select asp-for="@Model.CatalogModel.TypesFilterApplied" asp-items="@Model.CatalogModel.Types" class="esh-catalog-filter"></select>
            </label>
            <input class="esh-catalog-send" type="image" src="images/arrow-right.svg" />
        </form>
    </div>
</section>
<div class="container">
    <form method="get">
        <div>
            I want to see:
            <select name="displayMode">
                <option value="gallery">Gallery</option>
                <option value="list">List</option>
                <option value="table">Table</option>
            </select>
            &nbsp;
            <input type="submit" value="Submit" />
        </div>
    </form>

    @{
        var vista = "grid";
        var method = Request.Method;
        if(method == "GET"){
            var f = Request;
        //    vista = Request.Form["displayMode"].ToString();
        //    vista = r["displayMode"];
        }
    }
    @if (Model.CatalogModel.CatalogItems.Any())
    {
        <partial name="_pagination" for="CatalogModel.PaginationInfo" />

        @switch (vista)
        {
            case "grid":
                <partial name="DisplayItems/_displayGallery"/>
                break;
            default:
                <partial name="DisplayItems/_displayList"/>
                break;
        }
        

        <partial name="_pagination" for="CatalogModel.PaginationInfo" />
    }
    else
    {
        <div class="esh-catalog-items row">
            THERE ARE NO RESULTS THAT MATCH YOUR SEARCH
        </div>
    }
</div>